*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background: grey; 
    font-size: 30px;
}
body{
    background: yellow;
}